@import "./src/assets/scss/_all.scss";

.dashboard-stats{
  .stat-cell{
    box-shadow: 0 0 12px rgba(#000, 0.15);
    border-radius: 4px;
    padding: 12px;
    margin: auto;
    height: 100px;
    margin-bottom: 34px;

    p{
      opacity: 0.8;
    }
    h3{
      font-size: 24px;
    }
  }
}